<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Class List: Edit</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <form action="/class/api/edit" method="post">
        <div>
            <label for="studentId">Id of student:</label>
            <input type="text" id="id" name="id">
            <label for="studentName">Enter The New Name:</label>
            <input type="text" id="student" name="student">
            <label for="studentCourse">Enter The New Course:</label>
            <input type="text" id="course" name="course">
        </div>
        <div class="button">
            <button type="submit">Edit</button>
        </div>
        </form>
    </body>
</html>
